.template {
    display: flex;
    gap: 5px;
}

.fields-list {
    margin: 10px 0 10px;   

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header-container {
    display: flex;
    flex-direction: column-reverse;
}

.header-container label {
    color: rgb(202, 241, 218);
    font-size: 0.8rem;
}

input {
    color: aliceblue;
    border: 1px solid #8fd69400;
    background-color: rgba(80, 109, 70, 0);
}

input:focus {
    border: 1px solid rgb(65, 63, 63);
}

input:hover {
    border: 1px solid rgb(65, 63, 63);
}

input::placeholder {
    color: rgb(189, 184, 184);
}

.add-new-field {
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    margin: 5px 0;

    grid-column: 1 / -1;

    border-radius: 5px;
    background-color: rgb(80, 109, 70);
}

.add-new-field input {
    flex: 1;
}

.add-new-field input::placeholder {
    color: rgb(169, 170, 173);
}

.add-new-field input, select {
    color: rgb(207, 212, 206);
    border: 3px solid #8fd69400;
    background-color: rgb(80, 109, 70);
}

.add-new-field button {
    color: rgb(214, 214, 214);
    border: 1px dotted rgb(216, 218, 215);
    background-color: rgb(80, 109, 70);
    border-radius: 10px;
}

.add-new-field button:hover {
    color: #8fd694;
    border: 1px dotted #8fd694;
}

.add-new-field select:hover {
    border: 3px solid #8fd694;
    color: #8fd694;
    border-radius: 15px;
}

.field-options {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.fields-list {
    grid-column: 1 / -1;
    margin-top: 80px;
}

.template-field{
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 10px;

}

.template-field .field-name {
    text-align: left;
    font-weight: 500;
    flex: 1;
}

.template-field input {
    background-color: #65a16a;
}

.number-part {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number-part [type="number"]{
    width: 3rem;
}

.number-part [type="number"][name*="numerical"]{
    width: 6rem;
}

.templates-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 150px;

    align-items: stretch;
    justify-items: stretch;
}

.templates-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    margin: 5px;
    border-radius: 20px;

    color: aliceblue;
    background-color: #59965d;
}

.template-element-buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}