
.info-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.basic-info {
    width: 300px;
    margin: 0px 5px;
}

select {
    width: 175px;
}

.buttons {
    position: relative;
}

::after {
    content: attr(data-error);
    position: absolute;
    color: red;
    left: 320px;
    min-width: 200px;
}