body {
    background: #4ae;
    color: #000040;
}
h1, h2, #stopka {
    background: #000040;
    color: #8080ff;
    text-align: center;
}
#menu {
    background: white;
}
#tresc {
    background-color: lightblue;
}

#kontener {
    background: white;
}
#menu {
    float: left;
    width: 20%;
    padding: 2%;
}

#tresc {
    float: right;
    width: 70%;
    padding: 2%;
}

#stopka {
    clear: both;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}